body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
}

header {
    background-color:#fff;
    margin: 0;
    padding: 20px;    
    justify-content:space-between;
    width: 100%;
    position: fixed; 
    height: 50px;
    z-index: 1;
    box-shadow:10px 5px 10px rgba(0, 0, 0, 0.178);
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
    color: #001;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0 0 0 30px;
}

header nav {
    margin-bottom: 50px;
    height: 20px; 
} 

header ul {
    float: right;
    margin: 0 40px 0 20px;
    padding: 0 20px 20px 0;
    
}

.container li {
    float: left;
    display: block;
    padding: 20px 15px 50px 15px;
 }

.container a {
    color: #001;
    text-decoration: none; 
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 400;
}




.container a.active, .container a:hover{
    color: #888;
    transition: .5s;
    border-radius: 10px;
    padding: 20px 10px;
 } 
 
 
#check, #check + label {
    display: none;
    font-size: 30px;
    float: right;
    color: #001;
    margin-right:50px ;
}



/* header end */



article {
    text-align: center;
    background: #fff;
    color: #001;
    height: fit-content;
    padding: 10px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.474);
}

article h2 {
    font-size: 40px;
    line-height: 30px;
}

article p {
    font-size: 15px;
    font-weight:200;
    line-height: 30px;

}


#carousel_wrapper {
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
    clear: left;
    height: 350px;
    display:flex;
    margin-left: 100px;
}

#car{
    display: flex;
}

#coli{
    margin: 30px;
    max-width: 200px;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 30px 50px #00000033;
    align-items: center;
    padding: 5px;
    color: #001;
    text-decoration: none;
    cursor: pointer;
}

#coli:hover{
    transform: scale(1.1);
}

#coli p{
    font-weight: 600;
}

#carousel_wrapper li, #portfolio_list li {
    height: 200px;
    width: 200px;
    list-style: none;
    align-content: center;
    border-radius: 20px;

}

#carousel_wrapper #coli li button , #portfolio_list li button  {
    visibility: hidden;
    background: #555;
    color: #fff;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:0;
    text-transform:uppercase ;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    outline: 0;
    border: 0;
    border-radius: 20px;
}


#carousel_wrapper #coli li:hover button , #portfolio_list li:hover  {
    visibility: visible;
}

#work01 {
    background-image: url("images/anny.jpg");
    background-size:contain;

}

#work02 {
    background-image: url("images/FB_IMG_16284046582783728.jpg");
    background-size:contain;
}

#work03 {
    background: url("images/template4.jpg") ;
    background-size:contain;
}

#work04 {
    background: url("images/mark.jpg") ;
    background-size:contain;
}

#work05 {
    background: url("images/mockup_3.jpg") ;
    background-size:contain;
}

#work06 {
    background-image: url("images/propertio_d_second_1.jpg");
    background-size:contain;
}

#work07 {
    background: url("images/anny1.gif");
    background-size:contain;
}

#work08 {
    background: url("images/about-img1.jpg");
    background-size:contain;
}


#item {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #001;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}

#item.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}



@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}



@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}



.details{
    background-color:#001;
    height: 360px;
    padding: 20px 30px;
}
.contact {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.656);
    line-height: 20px;
    color:#fff;
    display: flex;
    margin: 20px 20px;
}

.group {
    margin: 0px 100px 20px 100px;
   
}

.group h2{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.656);
    line-height: 20px;
}

#con3 {
    color:darkgray;
    font-weight: 200;
}

.group a {
    color:#fff;
    text-decoration: none;
    display: flex;
}

#con4{
    display: flex;
}

#con4 a{
    margin: 0 20px 0 0;
    
}

.group a:hover{
    color:#888;
}

.copyrights{
    color:white;
    margin: 20px 120px;
    display: flex;
   
  
}

.copyrights ul{
    float: right;
    margin: 0 40px 0 400px;
}

.copyrights li{
    float: left;
    display: block;
    padding: 0px 15px 50px 15px;
}

.copyrights li p a{
    color: #fff;
    text-decoration: none;
}

.copyrights li p a:hover{
    color:#888;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    color:#001;
    font-size: 18px;
    box-shadow: 1px 1px 50px rgba(0, 0, 17, 0.289);
  }

  
  #myBtn:hover {
    background-color: #555;
    color: #fff;
  }


@media screen and (max-width: 768px) {
    body{
        font-size: 7.5px;
        width: 100%;
    }

    header{
        padding: 30px; 
    }

    .logo{
        font-size: 25px;
    }

    header nav header ul .container li .container a{
        font-size: 16px;
    }

   
#check, #check + label {
    display: block;
}


header ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background:#fff;
        top: 87px;
        right: -100%;
        text-align: center;
        transition: .2s;
        z-index: 1;
    }
    .container li{
        padding: 50px 0 50px 0;
        float: none;
    }

    .container  a{
        font-size: 25px;
        color: #001; 
        font-weight: 600;
    }




    header nav header ul .container li .container  a{
        display: block;
        float: none;
        font-size: 20px;
        color: #001;
    } 
    
    #check:checked ~ ul{
        left: 0;
    }

    /* OUR SEVICES*/

    article {
        text-align: center;
        background: lightgray;
        color: #001;
        height:1600px;
        padding: 120px 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.474);
    }
    
    article h2 {
        font-size: 40px;
        line-height: 30px;
    }
    
    article p {
        font-size: 15px;
        font-weight:200;
        line-height: 30px;
    
    }
    
    #carousel_wrapper {
        border-top: 1px solid #dfe1e5;
        border-bottom: 1px solid #dfe1e5;
        clear: left;
        height: 700px;
        display:inline-block;
        margin-left: 10px;
    }
    
    #car{
        display: flex;
    }
    
    #coli p{
        font-weight: 600;
    }
    
    
    #carousel_wrapper li, #portfolio_list li {
        height: 200px;
        width: 200px;
        list-style: none;
        align-content: center;
        border-radius: 20px;
    }
    
    
    #carousel_wrapper #coli li:hover a p, #portfolio_list li:hover  {
        visibility: visible;
    }
    
    #work01 {
        background-image: url("images/anny.jpg");
        background-size:contain;
    
    }
    
    #work02 {
        background-image: url("images/FB_IMG_16284046582783728.jpg");
        background-size:contain;
    }
    
    #work03 {
        background: url("images/template4.jpg") ;
        background-size:contain;
    }
    
    #work04 {
        background: url("images/mark.jpg") ;
        background-size:contain;
    }
    
    #work05 {
        background: url("images/mockup_3.jpg") ;
        background-size:contain;
    }
    
    #work06 {
        background-image: url("images/propertio_d_second_1.jpg");
        background-size:contain;
    }
    
    #work07 {
        background: url("images/anny1.gif");
        background-size:contain;
    }
    
    #work08 {
        background: url("images/about-img1.jpg");
        background-size:contain;
    }
     /* OUR SEVICES END*/



    /* CONTACT DETAILS*/
    .details{
        background-color:#001;
        height: 700px;
        padding: 20px 0px;
    }
    
    .contact {
        color:#fff;
        display:block;
        margin: 10px 10px;
    
    }
    
    .group {
        margin: 0px 50px 20px 70px;
    }
    
    #con3 {
        color:darkgray;
        font-weight: 200;
    }
    
    .group a {
        color:#fff;
        text-decoration: none;
        display: flex;
    }
    
    #con4{
        display: flex;
    }
    
    #con4 a{
        margin: 0 20px 0 0;
        
    }
    
    .group a:hover{
        color:#888;
    }
    
    .copyrights{
        color:white;
        margin: 20px 80px;
        display: flex;
       
      
    }
    
    .copyrights ul{
        float: right;
        margin: 0 5px 0 250px;
    }
    
    .copyrights li{
        float: left;
        display: block;
        padding: 0px 5px 10px 5px;
    }
    
    .copyrights li p a{
        color: #fff;
        text-decoration: none;
    }
    
    .copyrights li p a:hover{
        color:#888;
    }
  /* CONTACT DETAILS END*/  

} 

@media screen and (max-width: 414px) {
    body{
        font-size: 7.5px;
        width: 100%;
    }

    header{
        padding: 34px; 
        height: 20px;
    }

    .logo{
        font-size: 20px;
        margin: 0 0 0 5px;
    }

    header nav header ul .container li .container a{
        font-size: 14px;
    }

#check, #check + label {
    display: block;
    font-size: 25px;
    float: right;
    color: #001;
    margin-right:40px;
} 


header ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background:rgb(255, 255, 255);
        top: 87px;
        right: -100%;
        text-align: center;
        transition: .2s;
        z-index: 1;
    }
    .container li{
        padding: 30px 0 30px 0;
        float: none;
    }

    .container  a{
        font-size: 20px;
        color: #001; 
        font-weight: 600;
    }



    header nav header ul .container li .container  a{
        display: block;
        float: none;
        font-size: 20px;
        color: #001;
    } 
    
   

    #check:checked ~ ul{
        left: 0;
    }



    /* OUR SEVICES*/

    article {
        text-align: center;
        background: white;
        color: #001;
        height:1100px;
        padding: 10px 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.474);
    }
    
    article h2 {
        font-size: 20px;
        line-height: 15px;
    }
    
    article p {
        font-size: 11px;
        font-weight:200;
        line-height: 15px;
    
    }
    
    #carousel_wrapper {
        border-top: 1px solid #dfe1e5;
        border-bottom: 1px solid #dfe1e5;
        clear: left;
        height: 470px;
        display:inline-block;
        margin-left: 0px;
    }
    
    #car{
        display: flex;
       
    }
    
    #coli{
        margin: 10px;
        max-width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 20px 30px 50px #00000033;
        align-items: center;
        padding: 5px;
        color: #001;
        text-decoration: none;
        cursor: pointer;
    }
    
    #coli p{
        font-weight: 600;
    }
    
    
    #carousel_wrapper li, #portfolio_list li {
        height: 125px;
        width: 125px;
        list-style: none;
        align-content: center;
        border-radius: 20px;
    }
    
    #carousel_wrapper #coli li button{
        visibility: hidden;
        background: #888;
        color: #fff;
        width: 125px;
        border-top-right-radius: 20px;
        margin-top:0;
        text-transform:uppercase ;
        font-weight: 600;
        text-decoration: none;
        padding: 10px;
        outline: 0;
        border: 0;
        border-radius: 20px;
    }
    
    
    
    #carousel_wrapper #coli li:hover a p, #portfolio_list li:hover  {
        visibility: visible;
    }
    
    #work01 {
        background-image: url("images/anny.jpg");
        background-size:contain;
    
    }
    
    #work02 {
        background-image: url("images/FB_IMG_16284046582783728.jpg");
        background-size:contain;
    }
    
    #work03 {
        background: url("images/template4.jpg") ;
        background-size:contain;
    }
    
    #work04 {
        background: url("images/mark.jpg") ;
        background-size:contain;
    }
    
    #work05 {
        background: url("images/mockup_3.jpg") ;
        background-size:contain;
    }
    
    #work06 {
        background-image: url("images/propertio_d_second_1.jpg");
        background-size:contain;
    }
    
    #work07 {
        background: url("images/anny1.gif");
        background-size:contain;
    }
    
    #work08 {
        background: url("images/about-img1.jpg");
        background-size:contain;
    }
    
    article button {
        outline: 0;
        background: #001;
        text-transform: uppercase;
        width: 100px;
        padding: 10px;
        border: 0;
        color:  #fff;
        cursor: pointer;
        border-radius: 10px;
        font-size: 11px;
        margin-top:10px ;
    }
    
    article button:hover {
        background-color: #555;
        color: white;
        text-decoration: none;
        transition:  1s;
        width: 120px;
    }
     /* OUR SEVICES END*/



    /* CONTACT DETAILS*/
    .details{
        background-color:#001;
        height: 700px;
        padding: 20px 0px;
    }
    
    .contact {
        color:#fff;
        display:block;
        margin: 10px 10px;
    
    }
    
    .group {
        margin: 0px 10px 20px 10px;
       
    }
    
    #con3 {
        color:darkgray;
        font-weight: 200;
        font-size: 10px;
    }
    
    .group h2 {
        font-size: 12px;
    }
    
    .group a {
        color:#fff;
        text-decoration: none;
        display: flex;
        font-size: 10px;
    }
    
    #con4{
        display: flex;
    }
    
    #con4 a{
        margin: 0 20px 0 0;
        
    }
    
    .group a:hover{
        color:#888;
    }
    
    .copyrights{
        color:white;
        margin: 20px 22px;
        display: flex;
       
      
    }
    
    .copyrights ul{
        float: right;
        margin: 0 5px 0 9px;
    }
    
    .copyrights li{
        float: left;
        display: block;
        padding: 0px 5px 10px 5px;
    }
    
    .copyrights li p a{
        color: #fff;
        text-decoration: none;
    }
    
    .copyrights li p a:hover{
        color:#888;
    }
  /* CONTACT DETAILS END*/  

} 

@media screen and (max-width: 390px) {
    body{
        font-size: 7.5px;
        width: 100%;
    }

  
    header{
        padding: 24px; 
        height: 20px;
    }

    .logo{
        font-size: 17px;
        margin: 0 0 0 3px;
    }

    header nav header ul .container li .container a{
        font-size: 14px;
    }

#check, #check + label {
    display: block;
    font-size: 25px;
    float: right;
    color: #001;
    margin-right:35px;
} 


header ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background:rgb(255, 255, 255);
        top: 68px;
        right: -100%;
        text-align: center;
        transition: .2s;
        z-index: 1;
    }
    .container li{
        padding: 30px 0 30px 0;
        float: none;
    }

    .container  a{
        font-size: 18px;
        color: #001; 
        font-weight: 600;
    }



    header nav header ul .container li .container  a{
        display: block;
        float: none;
        font-size: 20px;
        color: #001;
    } 
    
   

    #check:checked ~ ul{
        left: 0;
    }


    /* OUR SEVICES*/

    article {
        text-align: center;
        background: white;
        color: #001;
        height:1100px;
        padding: 10px 15px 10px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.474);
    }
    
    article h2 {
        font-size: 20px;
        line-height: 15px;
    }
    
    article p {
        font-size: 11px;
        font-weight:200;
        line-height: 15px;
    
    }
    
    #carousel_wrapper {
        border-top: 1px solid #dfe1e5;
        border-bottom: 1px solid #dfe1e5;
        clear: left;
        height: 470px;
        display:inline-block;
        margin-left: 0px;
    }
    
    #car{
        display: flex;
       
    }
    
    #coli{
        margin: 10px;
        max-width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 20px 30px 50px #00000033;
        align-items: center;
        padding: 5px;
        color: #001;
        text-decoration: none;
        cursor: pointer;
    }
    
    #coli p{
        font-weight: 600;
    }
    
    
    #carousel_wrapper li, #portfolio_list li {
        height: 125px;
        width: 125px;
        list-style: none;
        align-content: center;
        border-radius: 20px;
    }
    
    #carousel_wrapper #coli li button{
        visibility: hidden;
        background: #888;
        color: #fff;
        width: 125px;
        border-top-right-radius: 20px;
        margin-top:0;
        text-transform:uppercase ;
        font-weight: 600;
        text-decoration: none;
        padding: 10px;
        outline: 0;
        border: 0;
        border-radius: 20px;
    }
    
    
    
    #carousel_wrapper #coli li:hover a p, #portfolio_list li:hover  {
        visibility: visible;
    }
    
    #work01 {
        background-image: url("images/anny.jpg");
        background-size:contain;
    
    }
    
    #work02 {
        background-image: url("images/FB_IMG_16284046582783728.jpg");
        background-size:contain;
    }
    
    #work03 {
        background: url("images/template4.jpg") ;
        background-size:contain;
    }
    
    #work04 {
        background: url("images/mark.jpg") ;
        background-size:contain;
    }
    
    #work05 {
        background: url("images/mockup_3.jpg") ;
        background-size:contain;
    }
    
    #work06 {
        background-image: url("images/propertio_d_second_1.jpg");
        background-size:contain;
    }
    
    #work07 {
        background: url("images/anny1.gif");
        background-size:contain;
    }
    
    #work08 {
        background: url("images/about-img1.jpg");
        background-size:contain;
    }
    
    article button {
        outline: 0;
        background: #001;
        text-transform: uppercase;
        width: 100px;
        padding: 10px;
        border: 0;
        color:  #fff;
        cursor: pointer;
        border-radius: 10px;
        font-size: 11px;
        margin-top:10px ;
    }
    
    article button:hover {
        background-color: #555;
        color: white;
        text-decoration: none;
        transition:  1s;
        width: 120px;
    }
     /* OUR SEVICES END*/



    /* CONTACT DETAILS*/
    .details{
        background-color:#001;
        height: 600px;
        padding: 20px 0px;
    }
    
    .contact {
        color:#fff;
        display:block;
        margin: 10px 10px;
    
    }
    
    .group {
        margin: 0px 10px 20px 10px;
       
    }
    
    #con3 {
        color:darkgray;
        font-weight: 200;
        font-size: 10px;
    }
    
    .group h2 {
        font-size: 12px;
    }
    
    .group a {
        color:#fff;
        text-decoration: none;
        display: flex;
        font-size: 10px;
    }
    
    #con4{
        display: flex;
    }
    
    #con4 a{
        margin: 0 20px 0 0;
        
    }
    
    .group a:hover{
        color:#888;
    }
    
    .copyrights{
        color:white;
        margin: 20px 20px;
        display: flex;
       
      
    }
    
    .copyrights ul{
        float: right;
        margin: 0 5px 0 5px;
    }
    
    .copyrights li{
        float: left;
        display: block;
        padding: 0px 2px 10px 2px;
    }
    
    .copyrights li p a{
        color: #fff;
        text-decoration: none;
    }
    
    .copyrights li p a:hover{
        color:#888;
    }
  /* CONTACT DETAILS END*/  

} 